.App {
  text-align: center;
}

.myDiv{
  border: 5px outset red;
  background-color:lightblue;
  text-align: center;
}

#myDIV2 {
  position: absolute;
  bottom: 0px;
  text-align: left;
  height: 150px;
  width: 400px;
  overflow: auto;
  right: 0px;
}


#myDIV {
  position: absolute;
  bottom: 0px;
  text-align: left;
  height: 150px;
  width: 400px;
  overflow: auto;
  left: 0px;
}

#content {
  height: 800px;
  width: 2000px;
  background-color: coral;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
